/* body */

#top {
	padding: 0px !important;
}

.ui-body-a {
	margin: 0px auto;
}

.ui-field-contain {
	overflow-y: hidden !important;
	padding: 0px !important;
	margin: 0px !important;
}

.ui-controlgroup-controls {
	width: 100% !important;
}

#top {
	border-width: 0px;
	padding: unset;
}

/* listview */

.ui-listview {
	margin: 0px !important;
	
	.ui-li-aside {
		right: 2em !important;
	}
}

.book-list {
	font-weight: normal;
}

#book_status_kept {
	color: green;
}

#book_status_rented_out {
	color: red;
}

.ui-controlgroup-controls .ui-btn-icon-notext {
	padding: 0px 10px 10px 20px !important;
}

.ui-icon-clock:after {
	background-repeat: no-repeat;
}

.book-title-icon:after,
.lending-user-icon:after,
.lending-date-icon:after,
.lending-limit-icon:after {
	content: "";
	width: 14px;
	height: 14px;
	border-radius: 5px;
	background-color: #aaa;
	background-position: center;
	background-size: 10px 10px;
	position: absolute;
	display: inline-block;
	float: left;
	left: 2px;
	margin: 1px 10px;
}

.book-author-icon:after {
	content: "";
	width: 14px;
	height: 14px;
	border-radius: 5px;
	background-color: #aaa;
	background-position: center;
	background-size: 10px 10px;
	position: absolute;
	display: inline-block;
	float: left;
	left: 0px;
	margin: 2px 65%;

}

/* typography */

#page_title {
	margin: -10px;
}

.book-title, .book-author {
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0 0 0 17px;
	font-size: 90%;
}

.book-title {
	width: 55%;
	float: left;
	margin-right: 10%;
}

.book-author {
	width: 20%;
	padding-left: 8px;
}

.book-status {
	text-align: left;
	margin-bottom: 3px;
	font-size: 90%;
}

.lending-info {
	text-align: left;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	width: 90%;
	margin: 0 0 0 17px;
	font-size: 70%;
}

.confirm {
	color: red;
}

h2 {
	margin-left: 20px;
}

/* hr */

hr {
	height: 10px;
	border-width: 1px 0px 0px;
	border-style: dashed none none;
	border-color: #d3d3d3;
}

/* header */

#logo {
	display: block;
	margin: -11px -93px -8px -15px;	
	width: 112px;
}

#logo_link {
	top: 6px;
	background-color: #1d1d1d;
}

.ui-header {
	padding: 10px !important;
}

/* footer */

.ui-footer {
	padding: 10px;
	height: 50px;
}


/* pagetop */

#pagetop {
	position: fixed;
	bottom: 30px;
	right: 10px;
	z-index: 2;
	border: 1px solid lightgray;
	border-radius: 20px;
}

#pagetop:after {
	background-size: 20px 20px;
	background-position: 5px -1px;
}

/* link */

a {
	outline: none;
	text-decoration: none;
}

/* definition list */

dl {
	margin: 0 10px 0 10px;
}

dt {
	font-weight: bold;
	width: 100px;
}


dt, dd {
	margin-bottom: 10px;
	overflow: auto;
	word-break: break-all;
}


/* button */

#back_btn {
	position: relative;
	left: 40px;
	top: -3px;
}

#search_button {
	width: 100%;
}

.cancel-btn {
	width: auto !important;
	float: right;
	margin: 10px 0 0 10px !important;
}

.close-btn {
	width: auto !important;
	margin: 0 auto !important;
}

#update_submit_btn,
#add_submit_btn,
#lending_submit_btn,
#return_submit_btn,
#delete_submit_btn {
	width: auto;
	height: 36px;
	float: right;
	margin: 10px 0 0 10px;
	
}

.ui-grid-a {
	margin: 10px 0;
}

/* flash */

.search_result,
#flash_message {
	word-break: break-all;
	padding: 10px;
	margin: 10px;
}

.flash_alert {
	color: darkred;
}

.search_result,
.flash_notice {
	color: darkgreen;
}
