/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 70px;
	min-width: 820px;
	min-height: 900px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.container, .navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
	max-width: 900px;
	padding-top: 30px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-weight: bold;
}

h1 {
	font-size: 2em;
	letter-spacing: -1px;
	margin-bottom: 20px;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

#update_confirm_message {
	margin-top: -10px;
}

ul {
	list-style-type: none;
	margin: 0 0 0 0;
}

#edit_form_error_msg {
	list-style-type: disc;
	margin: 10px 10px 30px 30px;
}

#edit_page_lending_info {
	margin-top: 20px;
}

.lending_info_list {
	margin: 10px 0 10px 0;
}

.confirm {
	color: red;
	font-weight: bold;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding: 15px 0 15px 50px;
	font-weight: bold;
	line-height: 1;

	:hover {
		color: white;
		text-decoration: none;
	}
}

img {
	width: 120px;
}

.navbar-inverse
.navbar-nav > li > a {
	color: white;
	padding-top: 22px;
}

.nav {
	padding-right: 50px;
}

#edit_book_error_message {
	font-weight: bold;
	margin: 30px 0 30px 0;
}

.navbar-fixed-top {
	position: absolute;
	min-width: 900px;
	
	.header_menu {
		max-width: 1000px;
		margin: 0 auto;
	}
}


/* search */

input.text-box {
	width: 170px;
	height: 25px;
	margin-top: 10px;
}

#search_window {
	float: right;
	margin-bottom: 50px;
}

.search_result {
	margin-bottom: 20px;
	background-color: #f0ffff;
	padding: 10px;
	a {
		color: #008990;
	}
}

/* table */

table {
	margin-top: 0px;
	width: 100%;
	table-layout: fixed;

	tr {
		float: left;
		width: 100%;
	}

	th, td {
		padding: 5px;
		width: 400px;
		word-break: break-all;
	}

	th {
		border-bottom: 1px solid lightgray;
	}

	td {
		border-bottom: 1px dotted lightgray;
	}

	th.selector {
		width: 100px;
	}

	td.selector {
		width: 100px;
		text-align: center;
	}

	th.lending-info {
		width: 100px;
	}

	td.lending {
		width: 100px;
		color: red;
	}

	td.no-lending {
		width: 100px;
		color: green;
	}
	
	tbody{
		float: left;
		overflow-x: auto;
		overflow-y: scroll;
		height: 500px;
		width: 100%;
	}
}
	

/* button */

.btn-primary {
	margin: 55px 0 10px 0;
}

button.ui-button {
	margin-top: 30px;
}

#button_set {
	position: relative;
}

#show_book_button, #add_book_button, #delete_book_button {
	position: absolute;
}

#show_book_button {
	left: 130px;
}

#delete_book_button {
	left: 325px;
}

#edit_book_button {
	margin-bottom: 30px;
}

#update_button {
	margin: 30px;
}


/* dialog */

span.ui-icon {
	float: left;
	margin: 4px 7px 20px 0;
}

div.ui-widget-overlay {
	position: fixed;
}

/* input */

input[type="text"] {
	height: 25px;
}


/* alert */

.alert {
	margin-bottom: unset;
}


/* pagination */

.books_pagination {
	text-align: center;
}


/* input form */

.input_label {
	width: 130px;
	text-align: right;
}

.input_label_dialog {
	text-align: right;
	width: 110px;
}

.input_value_dialog {
		margin-left: 110px;
}


/* definition list */

dt {
	float: left;
	clear: both;
}

dd {
	margin-left: 130px;
	padding-left: 10px;
}

dt, dd {
	margin-bottom: 10px;
}

dt:after {
	content: ":";
}

dt.selected_book_title,
dt.selected_book_author,
dt.selected_book_user,
dt.edited_book_title,
dt.edited_book_author {
	width: 110px;
	text-align: right;
}

dd.selected_book_title,
dd.selected_book_author,
dd.selected_book_user,
dd.edited_book_title,
dd.edited_book_author {
	margin-left: 110px;
}

dd.selected_book_user,
dd.edited_book_title {
	margin-top: 16px;
}

dd.selected_book_title.confirm {
		margin-top: 16px;
}


/* radio */

input[type="radio"] {
	margin-bottom: 4px;
}
