<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to image_tag("logo.png", alt: "かんりぶ"), root_path, id: "logo" %>
			<nav>
				<ul class="nav navbar-nav pull-right">
					<li><%= link_to "蔵書一覧", root_path %></li>
					<li><%= link_to "貸出処理", '/lendings?job=lending', target: "_blank" %></li>
					<li><%= link_to "返却処理", '/lendings?job=return', target: "_blank" %></li>
				</ul>
			</nav>
		</div>
	</div>
</header> 
