<div data-role="header" data-theme="b">
	<a id="logo_link" href=<%= root_path(view: "m") %> class="ui-btn ui-btn-left ">
		<%= image_tag("logo.png", id: "logo")  %>
	</a>
	<h3 id="page_title"><%= @page_title %></h3>
	<a href="#add_book_dialog" id="add_book_btn" class="ui-btn ui-icon-plus ui-btn-icon-notext ui-corner-all ui-btn-right">
	</a>
</div>
